nav {
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

article {
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

h1 {
    color:#F90716 ;
    font-family: 'Roboto', sans-serif;
}
h2 {
    color:#7835c4 ;
    font-family: 'Roboto', sans-serif;
}

#urunler {
    text-align: center;
    font-family: 'Roboto', sans-serif;
}